@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  padding: 4rem;
  font-family: 'Muli', sans-serif;
}
.box_container {
  display: flex;
  height: 100%;
}
.box {
  height: 100%;
  flex: 1;
  margin: 0 0.6rem;
  border-radius: 50px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.9s;
  transition-timing-function: ease-in-out;
}
.active {
  flex: 10;
}
.box h3 {
  display: none;
  position: absolute;
  bottom: 1rem;
  left: 1.3rem;
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.box.active h3 {
  display: block;
}

#box1 {
  background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
#box2 {
  background-image: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
#box3 {
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
}
#box4 {
  background-image: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
}
#box5 {
  background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

@media (max-width: 480px) {
  body {
    padding: 1rem;
  }
}
